@import '../../global.scss';

.portfolioList {
    font-size: 18px;
    padding: 8px;
    margin-right: 50px;
    border-radius: 10px;
    cursor: pointer;
    
    &.active {
        background-color: $mainColor;
        color: white;
    }
}